{% extends 'layout.html.twig' %}

{% block title %}
	emptyRow index
{% endblock %}

{% block content %}

	{% embed '@MazariniBootstrap/crud/_index.html.twig' with {'span': 3} %}
		{% block page_header %}
			<th>Id</th>
			<th>Col3</th>
			<th>Col4</th>
			<th>actions</th>
		{% endblock page_header %}

		{% block page_row %}
			<td>{{ entity.id }}</td>
			<td>{{ entity.col3 }}</td>
			<td>{{ entity.col4 }}</td>
		{% endblock page_row %}

	{% endembed %}

{% endblock content %}
