{% if data.currentAction == 'show' %}
    {% if data.links.index.url != '#' %}
        {% include '@MazariniBootstrap/button/link.html.twig' with { 'link': data.links.index, 'label': 'Retour'} %}
    {% endif %}
    {% if data.links.edit.url != '#' %}
        {% include '@MazariniBootstrap/button/link.html.twig' with { 'link': data.links.edit } %}
        {% if data.links.delete.url != '#' %}
            {% include '@MazariniBootstrap/button/toggle.html.twig' with { 'label': 'Supprimer', 'target': 'modalDeleteId' } %}
        {% endif %}
    {% endif %}
{% else %}
    <button class="btn btn-primary" type="submit">Valider</button>
    {% if data.entity.isNew %}
        {% include '@MazariniBootstrap/button/link.html.twig' with { 'link': data.links.index, 'label': 'Annuler' } %}
    {% else %}
        {% include '@MazariniBootstrap/button/link.html.twig' with { 'link': data.links.show, 'label': 'Annuler' } %}
    {% endif %}
{% endif %}
