{% extends '@MazariniBootstrap/modal/centered.html.twig' %}
{% block header_container %}{% endblock header_container %}
{% block content %}
	<p>Etes vous sur de vouloir supprimer cet élément ?</p>
{% endblock %}
{% block footer %}
	<form method="post" action="{{ data.links['delete'].url }}">
		<input type="hidden" name="_method" value="DELETE">
		<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ data.entity.id) }}">
		{% if data.links['delete'].url != '#' %}
		    <button class="btn btn-primary" type="submit">Confirmer</button>
        {% endif %}
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDeleteId">Annuler</button>
	</form>
{% endblock %}
