{# lib/Resources/views/modal/content.html.twig #}

{% block content_container %}
    <div class="modal-body">
        {% block content %}{% endblock content %}
    </div>
{% endblock content_container %}
