{% include '@MazariniBootstrap/accordion/header.html.twig' with {'link': items} %}
<div class="list-group accordion collapse" id="{{ accordion }}">
	{% include '@MazariniBootstrap/accordion/items.html.twig' %}
</div>
