{% extends '@MazariniTest/step/layout.html.twig' %}

{% block content %}
	<table class="table">
		<tr>
			<th>PHP :</th>
			<td>{{ php.version }}</td>
		</tr>
		<tr>
			<th>Symfony :</th>
			<td>{{ symfony.version }}</td>
		</tr>
	</table>
{% endblock %}
