{# lib/Resources/views/button/base.html.twig #}

{% block button %}
	{% set label = label|default(link.label) %}
	{% set class = class|default(' btn-primary') %}
	<a href="{{ link.url }}" class="btn{{ class }}{{ link.class }} btn-sm" tabindex="-1" role="button">
		{% block label %}
			{{ label }}
		{% endblock label %}
	</a>
{% endblock button %}
