{# lib/Resources/views/button/base.html.twig #}

{% block button %}
	{% set class = class|default(' btn-primary') %}
	<button type="button" class="btn{{ class }}" data-toggle="modal" data-target="#{{ target }}">
		{% block label %}
			{{ label }}
		{% endblock label %}
	</button>
{% endblock button %}
