{% if data.currentRoute == 'show' %}
	<a class="btn btn-primary" href="{{ data.links['index'].url }}" role=" button">List</a>
	{% if data.links.edit.url != '#' %}
		<a class="btn btn-primary" href="{{ data.links['edit'].url }}" role=" button">Edit</a>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalId">Delete</button>
	{% endif %}
{% else %}
	<button class="btn btn-primary" type="submit">Validate</button>
	{% if data.entity.isNew %}
		<a class="btn btn-primary" href="{{ data.links['index'].url }}" role=" button">Cancel</a>
	{% else %}
		<a class="btn btn-primary" href="{{ data.links['show'].url }}" role=" button">Cancel</a>
	{% endif %}
{% endif %}
