{# lib/Resources/views/pagination/number.html.twig #}

{% block pagination_container %}
	{% if data.pagination.lastPage > 0 %}
		<nav>
			<ul class="pagination justify-content-center">
				{% for number in 1..data.pagination.lastPage %}
					{% if data.pagination.currentPage == number %}
						{% include 'pagination/item.html.twig' with {'link': data.links['page_' ~ number], 'number': number} only %}
					{% else %}
						{% block number %}
							{% include 'pagination/item.html.twig' with {'link': data.links['page_' ~ number], 'number': number} only %}
						{% endblock number %}
					{% endif %}
				{% endfor %}
			</ul>
		</nav>
	{% endif %}
{% endblock pagination_container %}
