{# templates/base.html.twig #}

{%- use '@MazariniBootstrap/asset/stylesheets.html.twig' -%}
{%- use '@MazariniBootstrap/asset/javascripts.html.twig' -%}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block head_title %}{% endblock head_title %}
		</title>
		{% block stylesheets %}
			{{ parent() }}
		{% endblock stylesheets %}
	</head>
	<body>
		{% block static %}{% endblock static %}
		{% block body %}{% endblock body %}
		{% block javascripts %}
			{{ parent() }}
		{% endblock javascripts %}
		{% block modal %}{% endblock modal %}
	</body>
</html>
