{# templates/layout.html.twig #}

{%- extends '@MazariniBootstrap/layout.html.twig' -%}

{% block first_bar_container %}
	<div class="list-group">
		<a href="path('user_index')" class="list-group-item list-group-item-action">
			User
		</a>
	</div>
	<div class="list-group">
		<a href="{{ path('zero_index') }}" class="list-group-item list-group-item-action">
			Empty table
		</a>
	</div>
	<div class="list-group">
		<a href="{{ path('five_index') }}" class="list-group-item list-group-item-action">
			Crud five pages
		</a>
	</div>
	<div class="list-group">
		<a href="{{ path('ten_index') }}" class="list-group-item list-group-item-action">
			Crud ten pages
		</a>
	</div>
	<div class="list-group">
		<a href="{{ path('ten_page_index') }}" class="list-group-item list-group-item-action">
			Paginnation ten pages
		</a>
	</div>
{% endblock first_bar_container %}
{% block static %}
	{% if data.isSetEntity %}
		{% include '@MazariniBootstrap/crud/_delete_form.html.twig' with {'modal_id': 'modalDeleteId'} %}
	{% endif %}
{% endblock static %}
