{% extends 'base.html.twig' %}

{% block title %}
{{ step }} > {{ page }}
{% endblock title %}

{% block first_bar_container %}
	<div class="list-group accordion show" id="menu">
		{% include '@MazariniBootstrap/menu.html.twig' with {'items': menu, 'accordion': 'menu'} only %}
	</div>
{% endblock first_bar_container %}
