{% extends '@MazariniBootstrap/crud/show.html.twig' %}

{% block title %}
	Five
{% endblock title %}

{% block view_content %}
	<tr>
		<th>Id</th>
		<td>{{ data.entity.id }}</td>
	</tr>
	<tr>
		<th>Col1</th>
		<td>{{ data.entity.col1 }}</td>
	</tr>
	<tr>
		<th>Col2</th>
		<td>{{ data.entity.col2 }}</td>
	</tr>
{% endblock view_content %}
