{% extends 'layout.html.twig' %}

{% block title %}
	User index
{% endblock %}

{% block content %}

	{% embed '@MazariniPagination/_list.html.twig' with {'span': 3} %}

		{% block page_header %}
			<th>Username</th>
			<th>Name</th>
			<th>Email</th>
			<th>actions</th>
		{% endblock page_header %}

		{% block page_row %}
			<td>{{ entity.username }}</td>
			<td>{{ entity.fullName }}</td>
			<td>{{ entity.email }}</td>
		{% endblock page_row %}

	{% endembed %}

{% endblock content %}
