{# lib/Resources/views/table/base.html.twig #}

{% use '@MazariniBootstrap/table/content.html.twig' %}

{% set class = class|default('table') %}
<table class="{{ class }}">
	{% block content_container %}
		{{ parent() }}
	{% endblock content_container %}
</table>
